main{
    padding: 2rem 5rem;
}

h1{
    font-size: 2rem;
    padding-bottom: 1rem;
}

h2{
    font-size: 1rem;
    padding-top: 1.5rem;

}

h3{
    text-align: right;
    margin-right: 8rem;
}

a {
    text-decoration: none;
}

hr{
    width: 13rem;
    margin-right: 5rem;
}

article{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

figure{
    margin-top: 0.5rem ;
    display: flex;
    max-width: 9rem;

}

.hidden{
    padding-bottom: 1.5rem;
}


.total{
    margin-top: 2rem;
    margin-right: 10rem;
}

.bin{
    width: 1.3rem;
    margin-right: 0.3rem;
}


#amount{
    width: 15%;
    margin-top: 2rem;

}

input[type="button"]{
    display: block;
    margin: 5rem 0 0 auto;
    padding: 0.7rem;
}




