

h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 5rem;
    margin-top: 1rem;
}


a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

h2 {
    border: 1px solid #0C1B33;
    width: fit-content;
    padding: 0.5rem;
    margin: 0 auto 2rem auto;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
}


