main {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 5rem;
    margin-top: 1rem;
    font-family: 'PT Sans', sans-serif;
}

#arrow{
    margin-top: 0.2rem;
    width: 2rem;
}

a#back{
    padding-right: 0.5rem;
    margin-bottom: 0.3rem;
}


a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

div#backButton{
    display: flex;
    align-items: center;
    width: 5rem;
    border: 2px solid #000000;
    margin-left: 2rem;
    margin-top: 2rem;
    height: 2rem;
    text-align: center;
}

h2 {
    border: 1px solid #0C1B33;
    width: fit-content;
    padding: 0.5rem;
    margin: 0 auto 2rem auto;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
}

.logo{
    width: 9rem;
}


/******************************************************/
/************* subscriptions ************/
/******************************************************/


#subscriptions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

input {
    width: 18rem;
    height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 40.2% 2rem 40.2%;
    border-radius: 3px;
    border: 2px solid #983628;
    background-color: #983628;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;

}

input:hover{
    font-weight: bold;
    background-color: #ac5e52;
    border-color: #ac5e52;
}

section {
    border: 1px solid #0C1B33;
    height: 20rem;
    padding: 3rem;
}

section:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0);
}


.subscriptionStyle {
    list-style-type: circle;
}

li {
    line-height: 2rem;
    font-family: 'Noto Sans JP', sans-serif;
}

section p {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
    margin-top: 7rem;
    font-family: 'PT Sans', sans-serif;
}

div#backButton{
    display: flex;
    align-items: center;
    width: 5rem;
    border: 2px solid #983628;
    border-radius: 0.3rem;
    background-color: #983628;
    margin-left: 2rem;
    margin-top: 0.5rem;
    height: 2rem;
    text-align: center;


}

div#backButton:hover{
    background-color: #ac5e52;
    border-color: #ac5e52;
}


#arrow{
    margin: 0.2rem 0.5rem 0.2rem 0.7rem;
    width: 0.7rem;
}

a#back{
    padding-right: 0.5rem;
    margin-bottom: 0.3rem;
}