main{
    padding: 2rem 5rem;
    font-family: 'Noto Sans JP', sans-serif;
}


h1{
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: 'PT Sans', sans-serif;
}

h2{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-weight: bold;
}


article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

img.productImg{
    width: 11rem;
    height: 6rem;
    margin: 2rem 8rem 1rem 9rem;

}

article div img{
    width: 2rem;
    margin-right: 0.5rem;
}

article div input{
    width: 3rem;
    margin-bottom: 1rem;
}

article div:nth-child(3){
    margin-left: 10rem;
}

figure{
    margin-top: 0.5rem ;
    display: flex;
    max-width: 13rem;
}

.articleContainer{
    display: flex;
    flex-wrap: wrap;
}


.heart{
    width: 1.4rem;
    margin-left: 0.2rem;
}

.basket{
    width: 1.7rem;
    margin-bottom: 0.5rem;
}



