body{
    padding: 1rem;

}

footer{
    background-color: #588B8B;
    color: #ffffff;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Noto Sans JP', sans-serif;
}

footer div:nth-child(2){
    text-align: center;
}

footer div p,h3{
    margin-bottom: 1rem;
}

footer div img{
    width: 2rem;
}

footer a {
    text-decoration: none;
    color: #E0EFDE;
    font-weight: bold;
    font-size: 1rem;
}

footer a:hover{
    display: block;
    block-size: 1.5rem;
    color: #E0EFDE;
    border: 1px solid #81afaf;
    background-color: #81afaf;

}