header nav ul {
    display: flex;
    border: 1px solid #588B8B;
    background-color: #588B8B;
}

header nav ul li {
    padding: 2rem 0 2rem 2.5rem;
    font-size: 1.5rem;
    position: relative;
    background-color: #588B8B;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
}

header nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;

}
ul li ul{
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 2rem;
    left: -1.5rem;
    display: none;
    text-align: center;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}


ul li ul li {
    width: 100% ;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ffffff;
    z-index: 1000;
}

.account{
    border-top: none;
}

header a:hover{
    background-color: #81afaf;

}

#logo{
    flex: 0 1 12rem;
}

.profile{
    display: block;
    margin-left: auto;
    margin-right: 2rem;
}

.headerBasket{
    display: block;
    margin-left: auto;
    margin-right: 3rem;
    width: 2.5rem;

}


