header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header nav ul li {
    border: 1px solid #3E442B;
    border-right: 1px solid #ffffff;
    border-bottom: none;
    flex: 1 1 12rem;
    text-align: center;
    align-items: flex-end;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: 2rem;
    position: relative;
    background-color: #3E442B;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
}

header nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;

}
header ul li ul{
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 3.3rem;
    left: 0;
    display: none;
    text-align: center;
}

header ul li:hover > ul,
header ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}


header ul li ul li {
    width: 80% ;
    padding: 1rem;
    font-size: 1rem;
    background-color: #ffffff;
}

header a:hover{
    color: #F4F7BE;
}

#logo{
    flex: 0 1 12rem;
}

#profile{
  border-right: 1px solid #3E442B;
}

#basketHeader{
    flex: 0 1 8rem;
}


