main{
    margin: 3rem;
    position: relative;
}

aside{
    position: absolute;
    border: solid black;
    top: 0;
    right: 0;
    padding: 1rem;
}

main h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

main h3{
    font-size: 1.5rem;
    padding-left: 2rem;
}

main h4, main p{
    padding-left: 3rem;
}

main label{
    font-size: 1.3rem;
    margin-left: 1rem;
    padding-right: 1rem;
}