main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45rem;
}

main img{
    height: 20rem;
    align-items: center;
}

h1{
    font-size: 4rem;
    margin-right: 10rem;
    margin-left: 4rem;
}

input{
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-right: 10rem;
    margin-left: 5rem;
}