body, html {
    height: 100%;
    margin: 0;
}
.bg {

    background-image: url("../img/alien-4852662_1920.jpg");

    height: 49.7rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 4rem;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: #0C1B33;
    padding-top: 13rem;
}

h2{
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
    font-family: 'PT Sans', sans-serif;
    color: #0C1B33;
}


input{
    margin-top: 5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 2px solid #983628;
    background-color: #983628;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;

}

input:hover{
    font-weight: bold;
    background-color: #ac5e52;
    border-color: #ac5e52;
}


