main{
    display: flex;
}


section{
    padding: 2rem 10rem;
}

aside{
    padding: 1rem;
}

h1{
    font-size: 1.2rem;
}

a{
    color: black;
    text-decoration: none;
}


form{
    padding-left: 8rem;
}

form select, form input{
    margin-left: 2rem;
    width: 10%;
    padding: 0.1rem;
}

input[type="button"]{
    display: block;
    margin-left: auto;
    margin-right: 9rem;
    margin-top: 0.5rem;
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

form label, article label{
    margin-left: 1rem;
}

article img{
    margin-right: 2rem;
}

#amount{
    width: 15%;
    margin-left: 1rem;

}

figure{
    display: flex;
    margin: 1rem;
}

.heart{
    margin-left: 2.3rem;

}

.emptyheart{
    width: 1.5rem;
    margin-right: 0.5rem;
}

.emptybasket{
    width: 3rem;
    margin-right: 0.4rem;

}

.filter{
    padding-right: 3rem;
    width: 14.35rem;
    border-left: solid black;
    border-right: solid black;
}

.filter article{
    display: block;
    margin-top: 1rem;
}

.filter label{
    display: block;
}

.articleContainer{
    display: flex;
    flex-wrap: wrap;
}