main{
    display: flex;
    min-height: 38.1rem;
}


h3 {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    font-weight: bold;
}

p{
    margin-bottom: 0.2rem;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}


article{
    margin-bottom: 4rem;
    display: flex;
    margin-top: 5rem;
    margin-left: 5rem;

}


main figure{
    display: flex;
    margin: 1rem;
}

article img#product{
    margin-right: 10rem;
}

figcaption.basket{
    margin-top: 0.3rem;
}

article img{
    margin-right: 2rem;
}

main img.productImg {
    width: 10rem;
    height: 6rem;
    margin-right: 4rem;
    margin-left: 7rem;
}

#choice{
    margin-left: 10rem;
}

label.amount{
    margin-right: 0.5rem;
    margin-left: 2rem;
}

.heart{
    margin-left: 2.1rem;
}

.emptyHeart{
    width: 1.3rem;
    margin-right: 0.4rem;
}

.emptyBasket{
    width: 2.5rem;
    margin-right: 0.4rem;
}

#productDetail .productImg {
    width: 10rem;
    height: 6rem;
    margin-right: 4rem;
    margin-left: 7rem;
}