main{
    display: flex;
}


section{
    padding: 2rem 10rem;
}

h1{
    font-size: 1.2rem;
}

h2{
    margin-right: 3.4rem;
}

a{
    color: #0C1B33;
    text-decoration: none;
}

p{
    margin-bottom: 0.2rem;
}

form{
    padding-left: 8rem;
}

form select, form input{
    margin-top: 1.5rem;
    width: 20%;
    padding: 0.1rem;
}

form input{
    width: 18%;
    padding: 0.1rem;
}

form label, article label{
    margin-left: 1rem;
}

#sortby {
    margin-left: 0.4rem;
}

label.amount{
    margin-right: 0.5rem;
    margin-left: 2rem;
}


/******************************************************/
/************* article ************/
/******************************************************/

main img.productImg {
    width: 10rem;
    height: 6rem;
    margin-right: 4rem;
    margin-left: 7rem;
}

input[type="button"]{
    display: block;
    margin-left: 65rem;
    margin-top: 0.8rem;
    background-color: #983628;
    color: #ffffff;
    font-size: 0.9rem;
    border: 1px solid #ffffff;
    width: 9rem;
    height: 2rem;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 0.3rem;
}

input[type="button"]:hover{
    font-weight: bold;
    background-color: #ac5e52;
    border-color: #ac5e52;
}

input[type="search"]{
    height: 2rem;
    padding-right: 1.5rem;
    width: 10rem;
    border: 2px solid #0C1B33;
    background-color: #ffffff;
    border-radius: 0.3rem;
    color: #0C1B33;
    background-image: url("../img/searchBlue.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.5rem;
    padding-left: 0.5rem;
    margin-left: 2rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type="search"]:focus {
    width: 20rem;
}

form.filterMarket select{
    height: 2rem;
    padding-right: 1.5rem;
    width: 10rem;
    border: 2px solid #0C1B33;
    background-color: #ffffff;
    border-radius: 0.3rem;
    color: #0C1B33;
    padding-left: 0.4rem;
}

figcaption.basket{
    margin-top: 0.3rem;
}


article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.articleContainer .productImg, .articleContainer h3 {
    cursor: pointer;
}

article img{
    margin-right: 2rem;
}

#fruitTitel{
    margin-right: 5.5rem;
}

main figure{
    display: flex;
    margin: 1rem;
}

.heart{
    margin-left: 2.1rem;
}

.emptyHeart{
    width: 1.3rem;
    margin-right: 0.4rem;
}

.emptyBasket{
    width: 2.5rem;
    margin-right: 0.4rem;
}


.articleContainer {
    margin-top: 3rem;
}
