main{
    font-family: 'Noto Sans JP', sans-serif;
    color: #0C1B33;
    height: 36.5em;
}

h1{
    visibility: hidden;
}

table {
    margin-top: 2rem;
    margin-right: 15rem;
    margin-bottom: 5rem;
}

input{
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    height: 1rem;
    width: 10%;
    padding: 0.1rem;
}


label{
    margin-left: 5rem;
    margin-top: 1.5rem;
}

main figure{
    display: flex;
    cursor: pointer;
}

.emptyBasket{
    width: 2.5rem;
    margin-top: 1rem;
    margin-left: 6rem;
    margin-right: 0.4rem;
}

main figcaption{
    margin-top: 1.5rem;
    color: #983628;
}

main figcaption:hover{
    color: #ac5e52;

}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}


article{
    border: 1px solid #0C1B33;
    width: 40rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    margin-left: 26rem;
    margin-top: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

div{
    display: flex;
    margin-bottom: 2rem;
}

div div{
    display: flex;
    flex-direction: column;
}

main h2{
    margin-left: 4rem;
    width: 13rem;
    margin-right: 3rem;
}

caption{
    visibility: hidden;
}



article h2{
    margin-left: 4rem;
    width: 13rem;
}

article h3{
    margin-left: 7rem;
}


.emptybasket{
    width: 3rem;
    margin-right: 0.5rem;
}

.order{
    color: #983628;
    font-weight: bolder;
}
