table {
    margin-top: 2rem;
    margin-right: 15rem;
    margin-bottom: 5rem;
}

div#backButton{
    display: flex;
    align-items: center;
    border: 2px solid #000000;
    width: 5rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
    height: 2rem;
    text-align: center;
}


#arrow{
    margin-top: 0.2rem;
    width: 2rem;
}

a#back{
    padding-right: 0.5rem;
    text-decoration: none;
}

caption{
    visibility: hidden;
}

th{
    font-size: 1.3rem;
    padding-bottom: 2rem;
    padding-left: 10rem;

}

td.product{
    padding-left: 14rem;
}

td.price{
    padding-left: 10.5rem;
}

td.order div{
    padding-left: 17rem;
    display: flex;

}

td.order input{
    width: 2rem;
    height: 1rem;
}

td.order label, td.order input{
    margin-top: 0.5rem;
}

figure{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.emptybasket{
    width: 3rem;
    margin-right: 0.5rem;
}
