#popup {
    position: fixed;
    top: 20%;
    left: 15%;
    background-color: #ffffff;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.close{
    color: #ffffff;
    text-decoration: none;
    background-color: #983628;
    display: inline-block;
    border-radius: 23px;
    padding: 5px;
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%);
}

section {
    border: 1px solid #0C1B33;
    border-radius: 0.3rem;
    background-color: #ffffff;
    height: 20rem;
    padding: 3rem;
    color: #0C1B33;
    font-family: 'PT Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

section p {
    border: 1px solid #0C1B33;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    background-color: #0C1B33;
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
    margin-top: 7rem;
}

section ul {
    list-style-type: circle;
}

section li {
    line-height: 2rem;
}

section h1 {
    font-size: 2rem;
    padding-left: 2rem;
    line-height: 10rem;
}

section h2 {
    border: 1px solid #0C1B33;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    background-color: #0C1B33;
    color: #ffffff;
    width: fit-content;
    padding: 0.5rem;
    margin: 0 auto 2rem auto;
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}