main{
    display: flex;
}


section{
    padding: 2rem 10rem;
}

h1{
    font-size: 1.2rem;
}

h2{
    margin-right: 5.5rem;
}


form select, form input{
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 20%;
    padding: 0.1rem;
}

input[type="button"]{
    display: block;
    margin-left: auto;
    margin-right: 9rem;
}



article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

form.reserve input{
    margin-bottom: 0.5rem;
    margin-top: 0;
    margin-left: 3.5rem;
    width: 50%;
}

article h3, article p, form.reserve label{
    margin-left: 3rem;
    margin-bottom: 0.5rem;
}


form.reserve label{
    display: flex;

}

main figure{
    display: flex;
}

.emptyheart{
    width: 1.3rem;
    margin-right: 0.4rem;
}


.reservation{
    width: 2rem;
    margin-left: 0.5rem;
}
