
h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 5rem;
    margin-top: 1rem;
}


a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

h2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    background-color: #0C1B33;
    color: #ffffff;
}


/******************************************************/
/************* subscriptions ************/
/******************************************************/


input {
    width: 18rem;
    height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 40.2% 2rem 40.2%;
    border-radius: 3px;
    border: 2px solid #983628;
    background-color: #983628;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;

}

input:hover{
    font-weight: normal;
    background-color: #983628;
    border-color: #983628;
}

section {
    border-radius: 0.3rem;
    margin-bottom: 3rem;
    background-color: #ffffff;
    height: 20rem;
    color: #0C1B33;
    font-family: 'PT Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

section:hover{
    box-shadow: none;
}

section p {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    background-color: #0C1B33;
    color: #ffffff;
}


