h1 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 5rem;
    margin-top: 1rem;
    font-family: 'PT Sans', sans-serif;
}

h2 {
    border: 1px solid #0C1B33;
    width: fit-content;
    padding: 0.5rem;
    margin: 0 auto 2rem auto;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
}

#subscriptions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
}

input{
    width: 18rem;
    height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 3rem auto 2rem 36rem;
    border-radius: 3px;
    border: 2px solid #983628;
    background-color: #983628;
    color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;

}

input:hover{
    font-weight: bold;
    background-color: #ac5e52;
    border-color: #ac5e52;
}

section {
    border: 1px solid #0C1B33;
    height: 20rem;
    padding: 3rem;
}

section:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

li {
    line-height: 2rem;
    font-family: 'Noto Sans JP', sans-serif;
}

section p {
    border: 1px solid #0C1B33;
    padding: 0.5rem;
    text-align: center;
    margin-top: 7rem;
    font-family: 'PT Sans', sans-serif;
}

.subscriptionStyle {
    list-style-type: circle;
}